@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
    <p class="lead">
        Contoso University is a great university for students and instructors. Please click on the links above to access 
        more functionality.
    </p>
</div>