@{
    ViewBag.Title = "Student SPA";
}

<h2>Students</h2>

<div data-bind="if: viewModel.displayIndex">
    <p>
        <input type="button" value="Create" class="btn createBtn" data-bind="click: handleEditAndCreate"/>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Enrollment Date</th>
                <th>Courses</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: viewModel.students">
            <tr>
                <td data-bind="text: FirstName"></td>
                <td data-bind="text: LastName"></td>
                <td data-bind="text: moment(EnrollmentDate).format('L')"></td>
                <td>
                    <ul data-bind="foreach: Courses" class="list-unstyled">
                        <li data-bind="text: $data"></li>
                    </ul>
                </td>
                <td>
                    <a href="#" data-bind="click: handleEditAndCreate">Edit</a> | 
                    <a href="#" data-bind="click: deleteItem">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div data-bind="ifnot: viewModel.displayIndex" class="panel">
    <div class="panel-heading">
        <h4 data-bind="text: viewModel.editor.mode"></h4>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="col-sm-2">First Name</label>
            <input type="text" data-bind="value: viewModel.editor.firstName" />
        </div>
        <div class="form-group">
            <label class="col-sm-2">Last Name</label>
            <input type="text" data-bind="value: viewModel.editor.lastName" />
        </div>
        <div class="form-group">
            <label class="col-sm-2">Enrollment Date</label>
            <input type="text" data-bind="value: viewModel.editor.enrollmentDate" />
        </div>
        <button class="btn col-sm-2 saveBtn" data-bind="click: saveItem">Save</button>
    </div>
</div>

<script type="text/javascript" src="~/Scripts/studentSPA.js"></script>